@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: 'montserrat', serif;
    font-weight: 400;
}



.container {
    width: 100%;
    max-width: 1200px;
    padding: 5px 20px;
    box-sizing: border-box;
    margin: auto;
}