$lite-background: #fff;

$text-color: #4793FF;
$text-color-dark: #000;
$text-color-neutral: #939CB0;
$text-color-light: #fff;

$box-shadow:  2px 5px 25px -3px rgba(180, 180, 180, 0.25);
$border-radius: 20px;