.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    padding: 5px 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #4793FF;
    font-family: Arial, Helvetica, sans-serif;
}

.select {
    color: #474747;
    font-size: 16px;
}