.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #4793FF;
}

.select { 
    color: #474747;
    font-size: 16px;
}