@import '../../../styles/variables.scss';

 .popup__background {
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: 999;
    left: 0;
    top: 0;
 }
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    border: none;
    border-radius: $border-radius;
    background-color: $lite-background;
    width: 750px;
    box-shadow: $box-shadow;
    height: 300px;

}

//-------------------------- first block
.this__day {
    margin: 42px 32px;

}
.degrees {
    font-size: 60px;
    color: $text-color;
    margin-bottom: 12px;
}
.today {
    font-size: 25px;
    color: $text-color-dark;
    margin-bottom: 12px;
}
.weather__icon {
    svg {
    width: 53px;
    height: 53px;
    }
    margin-bottom: 12px;
}

.bottom__text {
    font-size: 15px;
    color: $text-color-neutral;
}

//-------------------------- second block

.this__day_info {
    display: flex;
    position: relative;
    align-items: center;
}

.this__day_info_items {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    box-sizing: border-box;
    list-style: none;
    row-gap: 20px;
    padding: 42px 32px;
}

//-------------------------- close button

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    svg {
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }
    &:hover {
        svg {
        transform: rotate(360deg);
        fill: #000;
        }
    }
}


